<head>
    
</head>
@{
    ViewData["Title"] = "Crypto Price Tracker";
}
<body class="mx-2">
    <h1>Crypto Price Tracker</h1>
    <div id="pricesContainer">
        <div id="spinner" class="d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <button id="updateBtn" class="btn btn-primary">Update Prices</button>
    <div id="statusMessage"></div>

    <script src="~/js/home/index.js" defer></script>
</body>
